<div class="span6 infobox-container">
		<div class="infobox infobox-green  ">
			<div class="infobox-icon">
				<i class="icon-briefcase"></i>
			</div>
			<div class="infobox-data">
				<span class="infobox-data-number">2</span>
				<div class="infobox-content">
					Estudios realizados
				</div>
			</div>
		</div>
		<div class="infobox infobox-blue  ">
			<div class="infobox-icon">
				<i class="icon-bar-chart"></i>
			</div>
			<div class="infobox-data">
				<span class="infobox-data-number">2</span>
				<div class="infobox-content">
					Graficos generados
				</div>
			</div>

		</div>
		<div class="infobox infobox-pink  ">
			<div class="infobox-icon">
				<i class="icon-lock"></i>
			</div>
			<div class="infobox-data">
				<span class="infobox-data-number">3</span>
				<div class="infobox-content">
					Usuarios registrados 
				</div>
			</div>

		</div>
		<div class="infobox infobox-red  ">
			<div class="infobox-icon">
				<i class="icon-beaker"></i>
			</div>
			<div class="infobox-data">
				<span class="infobox-data-number">4</span>
				<div class="infobox-content">
					datos
				</div>
			</div>
		</div>
	</div>