<div class="row-fluid" id="mensajeajax" style="display: block">
	<div class="span12"  style="display: block">
		<div class="alert alert-info" id="mensajeajax-inicial">
			<button type="button" class="close" data-dismiss="alert">
				<i class="icon-remove"></i>
			</button>
			{{info}}
			<br>
		</div>
		<div class="alert alert-error" id="mensajeajax-negativo" style="display: none"></div>
	</div>
</div>