{% extends "ProyectoPrincipalBundle:Helpers:base.html.twig" %}
{%block info%}{% include 'ProyectoPrincipalBundle:Helpers:info.html.twig' with {'info': info} %}{%endblock%}

{%block contenido%}
<div class="row-fluid">
	<div class="span6 infobox-container">
		<p>
			<a href="{{path('proyecto_principal_nuevo')}}" class="btn btn-app radius-4"> <i class="icon-cog bigger-230"></i> Nuevo </a>
			<a href="{{path('proyecto_principal_editar')}}" class="btn btn-app btn-primary"> <i class="icon-book bigger-230"></i> Listado </a>
			<a href="#" class="btn btn-app btn-success"> <i class="icon-trash bigger-200"></i></i> Eliminar </a>
			<a href="{{path('proyecto_principal_acerca')}}"  class="btn btn-app btn-warning"><i class="icon-book bigger-230"></i>Acerca de...</a>
		</p>
	</div>
	
	{% render controller('ProyectoPrincipalBundle:Helpers:stats') %}

</div>
{%endblock%} 