{% extends "ProyectoPrincipalBundle:Helpers:base.html.twig" %}
{%block info%}{% include 'ProyectoPrincipalBundle:Helpers:info.html.twig' with {'info': info} %}{%endblock%}

{%block contenido%}
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-header">
				<h4>Nuevo Proyecto</h4>
				<span class="widget-toolbar"> <a href="#" data-action="collapse"> <i class="icon-chevron-up"></i> </a> <a href="#" data-action="close"> <i class="icon-remove"></i> </a> </span>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="control-group" >
						<label class="control-label" for="form-field-1">Nombre del estudio</label>
						<div class="controls">
							<input type="text" id="form-field-1" placeholder="Nombre del estudio" class="span12">
						</div>
					</div>
					<div class="control-group" >
						<label class="control-label" for="form-field-1">Parametro 1</label>
						<div class="controls">
							<input type="text" id="form-field-1" placeholder="Parametro 1" class="span12">
						</div>
					</div>
					<div class="control-group" >
						<label class="control-label" for="form-field-1">Parametro 2</label>
						<div class="controls">
							<input type="text" id="form-field-1" placeholder="Parametro 2" class="span12">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="form-field-1">Parametro 3</label>
						<div class="controls">
							<input type="text" id="form-field-1" placeholder="Parametro 3"  class="span12">
						</div>
					</div>
					<div class="ace-file-input" class="span8">
						<input type="file" id="id-input-file-2" >
						<label data-title="Seleccionar"><span data-title="Sin archivo ..."><i class="icon-upload-alt"></i></span></label><a class="remove" href="#"><i class="icon-remove"></i></a>
					</div>
					<div class="ace-file-input ace-file-multiple">
						<input multiple="" type="file" id="id-input-file-3">
						<label data-title="Arroje el archivo aqui para cargarlo"><span data-title="Sin archivos ..."><i class="icon-cloud-upload"></i></span></label><a class="remove" href="#"><i class="icon-remove"></i></a>
					</div>
					<label>
						<input type="checkbox" name="file-format" id="id-file-format">
						<span class="lbl"> S&oacute;lo se permite archivos txt</span> </label>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%} 